<fieldset class="input-group">
    <legend *ngIf="label">{{label}}</legend>
    <p *ngIf="!options">No options available</p>
    <ul *ngIf="!selectedOption">
        <li *ngFor="let option of options; let index = index">
            <button 
                (click)="updateValue(option.value)"
                [disabled]="isDisabled"
                type="button"
                >
                {{option.name}}
            </button>
        </li>
    </ul>
    <button *ngIf="selectedOption"
        type="button"
        (click)="reset()"
        [disabled]="disabled"
        class="remove"
        >
        {{selectedOption.name}}
    </button>
</fieldset>
