app-increment-field .incrementer {

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > * {
        margin: 0em 1em;
        flex: 0 0 auto;
    }

    span {
        display:block;
        font-size: 2em;
        color: $color-primary;
        white-space: nowrap;
    }

    > button.add,
    > button.subtract {
        display: block;
        width: 2em;
        height: 2em;
        padding: 0px;
        overflow: hidden;
        text-indent: -3000em;
        background-color: $color-primary;
        border: 0px;
        border-radius: 1em;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background-color: $color-white;
            mask-image: url('../assets/icon-remove.svg');
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
        }
    }

    > button.add {
        order: 2;
        &:before {
            mask-image: url('../assets/icon-add.svg');
        }
    }

    .subtract {
        order: -1;
    }
}

app-increment-field.is-disabled .incrementer > button {
    display: none;
}
