app-range-field.heartsteps-form-field {
    ul {
        @extend ul.horizontal;
        justify-content: space-between;
        margin: 0em;
    }

    ul li label {
        display: block;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        text-indent: 3000em;
    }

    .labels {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0em;
        margin-bottom: 1em;
        
        > * {
            @extend .label;
        }
    }
}