<fieldset class="input-group">
    <legend class="description" [innerHTML]="label"></legend>
    <ul>
        <li *ngFor="let option of options; let index = index">
            <input id="{{name}}-{{index}}"
                type="radio"
                [name]="name"
                [value]="option"
                [ngModel]="selectedOption"
                (ngModelChange)="updateValue($event)"
                [disabled]="isDisabled"
                />
            <label for="{{name}}-{{index}}">
                {{option}}
            </label>
        </li>
    </ul>
    <div class="labels">
        <span>{{leastLabel}}</span>
        <span>{{mostLabel}}</span>
    </div>
</fieldset>