<!--
  Generated template for the NotificationCenterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Notification Center</ion-title>
    </ion-navbar>
</ion-header>

<!-- <ion-list>
    <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Super Mario World</ion-label>
    </ion-item>
</ion-list> -->

<!-- TODO: the first list item is cut off -->
<!-- <ion-list>
    <ion-item *ngFor="let notification of notifications">
        <ion-label>{{ notification.recipient }}</ion-label>
        <ion-label>{{ notification.content }}</ion-label>
        <ion-label>{{ notification.title }}</ion-label>
        <ion-label>{{ notification.body }}</ion-label>
    </ion-item>
</ion-list> -->
<!-- <h1>Main Content</h1>

<div slot="fixed">
    <h1>Fixed Content</h1>
</div> -->
<!-- <ion-content padding> </ion-content> -->
<!-- <ion-content> </ion-content> -->

<!-- <h1>Hello Test</h1> -->
<!-- <h3>My Notifications: {{ notifications }} DONE</h3> -->

<ul *ngFor="let notification of notifications">
    <!-- TODO: first line is obstructed by navbar -->
    <!-- go to http://localhost:8100/#/home/notification-center to reproduce bug -->
    <li>Created: {{ notification.created }}</li>
    <li>Recipient: {{ notification.recipient }}</li>
    <li>Content: {{ notification.content}}</li>
    <li>Title: {{notification.title }}</li>
    <li>Body: {{notification.body }}</li>
    <li></li>
</ul>
