<app-modal
    title="Fitbit Authorization"
    (onDismiss)="goBack()"
    >
    <p>HeartSteps uses Fitbit to collect information about your physical activity. Activities detected by Fitbit will be shown in HeartSteps.</p>
    <p>Please <strong>allow all permissions</strong> when connecting Fitbit to HeartSteps.</p>
    
    <div *ngIf="account">
        <p *ngIf="account.isAuthorized">Account is authorized</p>
        <p *ngIf="!account.isAuthorized">Account is not authorized</p>
        <dl>
            <dt>Account Id</dt>
            <dd>{{account.id}}</dd>
            <dt *ngIf="firstUpdated">First updated</dt>
            <dd *ngIf="firstUpdated">{{format_date(account.firstUpdated)}}</dd>
            <dt *ngIf="lastUpdated">Last updated</dt>
            <dd *ngIf="lastUpdated">{{format_date(account.lastUpdated)}}</dd>
            <dt *ngIf="lastDeviceUpdate">Device last updated</dt>
            <dd *ngIf="lastDeviceUpdate">{{format_date(account.lastDeviceUpdate)}}</dd>
        </dl>
    </div>
    <button *ngIf="!account"
        (click)="authorize()"    
        class="heartsteps-primary-button"
        >
        Authorize Account
    </button>
    <button *ngIf="account"
        (click)="authorize()"
        >
        Re-authorize Account
    </button>
    <button (click)="refreshData()">Refresh Account Data</button>
</app-modal>
