<app-modal
    title="Fitbit Clock Face Pin"
    (onDismiss)="goBack()"
    >
    <div *ngIf="pin">
        <p>Pair with clock face with pin <strong>{{pin}}.</strong></p>
        <ul *ngIf="stepCounts">
            <li *ngFor="let stepCount of stepCounts">
                {{stepCount.steps}} steps {{stepCount.end}}
            </li>
        </ul>
    </div>
    <app-form *ngIf="!pin"
        [formGroup]="form"
        submitLabel="Pair Clock Face"
        (onSubmit)="submitForm()"
        >
        <p>Enter the pin from your watch face below</p>
        <app-text-field
            label="Enter pin"
            formControlName="pin"
            >
        </app-text-field>
    </app-form>
</app-modal>
