<app-modal
    title="Fitbit Clock Settings"
    (onDismiss)="goBack()"
    >
    <section *ngIf="!pin">
        <p class="warning">
            No Fitbit Clock Face is paired with your account.
            Please install and pair the Fitbit Clock Face.
        </p>
        <button (click)="openFitbitGallery()">Install Fitbit Clock Face</button>
        <heartsteps-fitbit-clock-face-pair *ngIf="!pin"
            (paired)="updatePin()"
            >
        </heartsteps-fitbit-clock-face-pair>
    </section>
    <section *ngIf="pin">
        <p>Paired with clock face with pin <strong>{{pin}}.</strong></p>
        <ul *ngIf="stepCounts">
            <li *ngFor="let stepCount of stepCounts">
                {{stepCount.steps}} steps {{stepCount.time}}
            </li>
        </ul>
        <button (click)="getLastStepCounts()"
            >
            Update status
        </button>
    </section>
    <button *ngIf="pin" class="danger"
        (click)="deletePin()"
        >
        Unpair Clock Face
    </button>
</app-modal>
