<ion-header>
    <ion-navbar>
        <ion-title>Edit Location</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div #map id="map" width="100%" height="200px"></div>
    <ion-list *ngIf="addressPredictions">
        <button *ngFor="let address of addressPredictions" ion-item (click)="setAddress(address.description)">
            {{address.description}}
        </button> 
    </ion-list>
    <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input [(ngModel)]="address" (keyup)="showPredictions()"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Type of location</ion-label>
        <ion-select [(ngModel)]="type">
            <ion-option value="home">Home</ion-option>
            <ion-option value="work">Work</ion-option>
            <ion-option value="other">Other</ion-option>
        </ion-select>
    </ion-item>
    <button ion-button (click)="update()" >Update</button>
</ion-content>