<app-form
    *ngIf="weeklyReflectionForm"
    [formGroup]="weeklyReflectionForm"
    (onSubmit)="save()"
    >
    <fieldset>
        <legend>Set your weekly reflection time</legend>
        <app-select-field
            formControlName="day"
            label="Day"
            [options]="days"
            >
        </app-select-field>
        <app-time-field
            formControlName="time"
            label="Time"
            increment="30"
            >
        </app-time-field>
    </fieldset>
</app-form>
