<form>
    <div>
        <label>Suggested goal</label>
        <app-increment-field
        [(ngModel)]="minutes"
        name="goal"
        ></app-increment-field>
    </div>

    <div>
        Insert Weekly charts
    </div>
    <div>
        <label>How confident are you that you can achieve next week's goal?</label>
        <app-range-field [(ngModel)]="confidence" name="confidence"></app-range-field>
    </div>
    <div class="controls">
        <button (click)="save()">{{cta}}</button>
    </div>
</form>