<form>
    <div>
        <label>Suggested goal</label>
        <heartsteps-increment
        [(ngModel)]="minutes"
        name="goal"
        units="min"
        ></heartsteps-increment>
    </div>

    <div>
        Insert Weekly charts
    </div>
    <div>
        <label>How confident are you that you can achieve next week's goal?</label>
        <heartsteps-range [(ngModel)]="confidence" name="confidence"></heartsteps-range>
    </div>
    <div class="controls">
        <button (click)="save()">{{cta}}</button>
    </div>
</form>