.adherence-issue {
    color: red;
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}

table th {
    position: sticky;
    top: 0px;
}

table th, table td {
    white-space: nowrap;
}
