.adherence-issue {
    color: red;
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}

table th {
    position: sticky;
    top: 0px;
}

table th, table td {
    white-space: nowrap;
}

table td a.sms-btn:hover, a.texthx-btn:hover {
    font-weight: bold;
}

.hidden {
    display: none;
}

li.card {
    margin: 0.5em 0em;
}

dl dd.success:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('/static/admin/img/icon-yes.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

i.icon-error {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('/static/admin/img/icon-no.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.cardmargin {
    margin: 1rem 15px 0;
}