version: '2'
services:
    client:
        build: ./client
        env_file:
          - credentials/.env-production
        command: npm run serve:app
        volumes:
            - ./client:/client
            - ./credentials:/credentials
            - client-platforms:/client/platforms
            - client-node-modules:/client/node_modules
            - client-gradle-cache:/root/.gradle/caches
        ports:
          - "8100:8100"
          - "35729:35729"
          - "53703:53703"
        depends_on:
          - cloudsql
          - rabbitmq
          - server
    cloudsql:
        image: gcr.io/cloudsql-docker/gce-proxy:1.11
        command: /cloud_sql_proxy -dir=/cloudsql -instances=heartsteps-kpwhri:us-west1:heartsteps-kpw -credential_file=/credentials/google-service-account.json
        volumes:
            - cloudsql:/cloudsql
            - ./credentials:/credentials
    nginx:
        build: ./nginx
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        ports:
            - "8000:8000"
        depends_on:
            - server
    rabbitmq:
        extends:
            file: docker-compose.yaml
            service: rabbitmq
    server:
        build: ./server
        env_file:
          - credentials/.env-production
        environment:
            - ALLOWED_HOSTS=localhost,server
            - DEBUG=True
            - DATABASE_URL=psql://heartsteps:heartsteps@/heartsteps?host=/cloudsql/heartsteps-kpwhri:us-west1:heartsteps-kpw
        depends_on:
            - cloudsql
            - rabbitmq
        ports:
            - "8080:8080"
        volumes:
            - ./server:/server-gcloud
            - ./credentials:/credentials
            - cloudsql:/cloudsql
        working_dir: /server-gcloud
volumes: 
    cloudsql:
    client-platforms:
    client-node-modules:
    client-gradle-cache:
