version: '2'
services:
  client:
    build: 
      context: ./
      dockerfile: client.Dockerfile
    command: npm run serve:app
    volumes:
      - ./client:/client
      - ./credentials:/credentials
      - client-node-modules:/client/node_modules
    ports:
      - "8100:8100"
      - "35729:35729"
      - "53703:53703"
    depends_on:
      - db
      - rabbitmq
      - server
  client-android:
    build: 
      context: ./
      dockerfile: client-android.Dockerfile
    command: npm run build:app:android
    volumes:
      - ./client:/client
      - ./credentials:/credentials
      - client-platforms:/client/platforms
      - client-node-modules:/client/node_modules
      - client-gradle-cache:/root/.gradle/caches
  db:
    environment: 
      - POSTGRES_PASSWORD=password
    image: postgres:10
    volumes:
      - pgdata:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:3.7
  server:
    build: 
      context: ./
      dockerfile: server.Dockerfile
    environment:
      - ALLOWED_HOSTS=localhost,server,192.168.99.100
      - DEBUG=True
      - DATABASE_URL=psql://postgres:password@db:5432/postgres
    command: ["honcho", "start", "dev"]
    volumes:
      - ./server:/server
      - ./credentials:/credentials
    ports:
      - "8080:8080"
    depends_on:
      - db
      - rabbitmq
volumes:
  client-platforms:
  client-node-modules:
  pgdata:
  client-gradle-cache:
