
app-modal {
    // z-index: 15;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #000;
        opacity: 0.3;
        z-index: 5;
    }
}

app-modal > article {
    @extend .heartsteps-page;
    z-index: 10;
}
