app-page {
    @extend .heartsteps-container;
    @extend .heartsteps-scrollable;
    height: 100%;
    > article {
        @extend .heartsteps-page;
    }
}

app-page.start-screen {
    > article {
        @extend .start-screen;
        padding: 0em;
        margin: 0em;
    }

    > article > .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: visible;
    }
}
