app-page {
    > article {
        @extend .heartsteps-page;
    }
}

app-page.start-screen {
    overflow: hidden;
    width: 100%;

    > article {
        @extend .start-screen;
        color: $color-white;
        padding: 0em;
        margin: 0em;
    }

    > article > .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: visible;
    }
}
