heartsteps-stepper {
    @extend .heartsteps-page;
    @extend .heartsteps-scrollable;

    > .content {
        @extend .heartsteps-unscrollable;
    }

    > header > .back {
        top: 0px;
    }

    .pagination-bullets {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & > * {
            display: block;
            margin: $space-size/4;
            height: 1em;
            width: 1em;
            border-radius: 50%;
            background-color: $color-gray-light;
            overflow: hidden;
            text-indent: -3000em;
        }
        & > .active {
            background-color: $color-primary;
        }
    }
}

body heartsteps-stepper {
    background-color: $background-primary;
}

body heartsteps-stepper > header {
        background-color: transparent;
        border-bottom: 0px;
}

body heartsteps-stepper.start-screen {
    display: block;
    background-color: transparent;

    .pagination-bullets > * {
        background-color: transparent;
        border: $color-white 1px solid;

        &.active {
            background-color: $color-white;
        }
    }
}
