heartsteps-stepper {
    @extend .heartsteps-page;
    @extend .heartsteps-scroll-full;

    > *,
    &:before,
    &:after {
        background-color: $background-primary;
    }

    > header {
        border-width: 0px;
        padding-top: 2em;
    }

    > header > .back {
        top: 2.25em;
    }

    .pagination-bullets {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & > * {
            display: block;
            margin: $space-size/4;
            height: 1em;
            width: 1em;
            border-radius: 50%;
            background-color: transparent;
            border: $text-color 1px solid;
            overflow: hidden;
            text-indent: -3000em;
        }
        & > .active {
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }
}

heartsteps-stepper.start-screen {

    > *,
    &:before,
    &:after {
        background-color: transparent;
    }

    .pagination-bullets > * {
        background-color: transparent;
        border: $color-white 1px solid;

        &.active {
            background-color: $color-white;
        }
    }
}
