<div class='modal fade' id='text-history-modal' role='dialog'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>

        <style> form {background-color: white;} </style>

<form class="form-horizontal" method="post" role="form">
    <div class='modal-header'>
        <h4 class='modal-title'>Text Message History</h4>
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
    </div>

    <div class='modal-body'>
        <textarea id='text-history' cols='80' rows='50'></textarea>
        {% comment %}
        {% csrf_token %}
        <div class='form-group'>
            {% for field in test_history_form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endcomment %}
</form>

        </div>
    </div>
</div>
