<app-page class="start-screen">
    <article>
        <h1 class="heartsteps-logo">JustWalk</h1>
        <button (click)="goToEnrollment()">Login</button>
    </article>
    <article class="heartsteps-page">
        <header>
            <h2>About JustWalk</h2>
        </header>
        <div class="content">
            <p>Physical activity is a key aspect of effective blood pressure management. It strengthens the heart and helps the cardiovascular system function in an optimal way. Physical activity is particularly important for people with type 1 hypertension
                (systolic blood pressure between 130 and 140mm Hg), as regular physical activity can help reduce blood pressure and decrease the risk of cardiovascular events such as strokes and heart attacks. For many individuals with blood pressure
                in the type 1 hypertension range, regular physical activity can help them reduce their blood pressure without the use of medications, and it is, along with a heart-healthy diet, the recommended treatment for people with slightly elevated
                blood pressure.</p>
            <p>JustWalk is a research project funded by the National Institutes of Health that explores new ways that mobile technology—smartphones and wearable activity trackers—can be used to help patients to increase their physical activity. We have developed
                a mobile app that works with a Fitbit activity tracker to help individuals set activity goals, plan how they will be active, and remain motivated to find ways to incorporate physical activity into their daily lives. Our ultimate goal is
                to develop technology that effectively supports physical activity over the long-term, enabling people to become and remain active, even as they go through the many inevitable life transitions such as illness, moves, or changes in jobs.</p>
        </div>
    </article>
</app-page>