<app-modal
    title="Complete Activity Plan"
    (onDismiss)="dismiss()"
    >
    <a app-page-control (click)="editPlan()">Edit</a>
    <app-form
        [formGroup]="form"
        submitLabel="Complete"
        (onSubmit)="complete()"
        >
        <activity-plan-field
            formControlName="activityPlan"
            >
        </activity-plan-field>
        <activity-enjoyed-field
            formControlName="enjoyed"
            label="Did you enjoy this?"
            >
        </activity-enjoyed-field>
        <app-range-field
            formControlName="effort"
            label="How much will power did it take to complete this activity?"
            [options]="effortOptions"
            >
        </app-range-field>
    </app-form>
</app-modal>