heartsteps-activity-plan {
    @extend heartsteps-activity-log;

    &:after {
        content: "";
        height: 2em;
        width: 2em;
        mask-image: url('../assets/unchecked.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
        display: block;
        background-color: $color-gray;
    }

    &.is-complete:after {
        mask-image: url('../assets/checked.svg');
        background-color: $color-primary;
    }
}
