heartsteps-activity-plan {
    @extend heartsteps-activity-log;

    button.complete {
        @extend .heartsteps-checkmark-button-selected;
        flex: 0 0 auto;
        order: -1;
    }

    button.incomplete {
        @extend .heartsteps-checkmark-button;
        flex: 0 0 auto;
        order: -1;
    }

    button.edit {
        display: block;
        flex: 0 0 auto;
        height: 2em;
        width: 2em;
        mask-image: url('../assets/edit.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
        mask-size: 1em;
        background-color: $link-color;
    }
}
