heartsteps-activity-plan {
    @extend heartsteps-activity-log;

    &:after {
        content: "";
        flex: 0 0 auto;
        order: -1;
        height: 2em;
        width: 2em;
        margin-right: 1em;
        margin-left: 0em;
        mask-image: url('../assets/unchecked.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
        mask-size: 100%;
        display: block;
        background-color: $link-color;
    }

    &.is-complete:after {
        mask-image: url('../assets/checked.svg');
    }

    button {
        display: block;
        flex: 0 0 auto;
        height: 2em;
        width: 2em;
        mask-image: url('../assets/edit.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
        mask-size: 1em;
        background-color: $link-color;
    }
}
