<article class="page">
  <header>
    <h2>Enroll</h2>
    <a *ngIf="dismissable" class="close">Close</a>
  </header>
  <form [formGroup]="enrollmentForm" (ngSubmit)="enroll()" >
    <p>Enter the entry token included in the invitation letter you received in the mail.</p>
    <ion-item>
      <ion-label stacked>Entry Code</ion-label>
      <ion-input type="text" formControlName="entryToken"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Birth year</ion-label>
      <ion-input type="number" formControlName="birthYear"></ion-input>
    </ion-item>
    <div class="controls">
        <p *ngIf="error" class="error">{{error}}</p>
        <button >Enroll</button>
    </div>
  </form>
</article>
