{% extends 'dashboard/base.html' %}
{% load static %}
{% load template_filters %}

{% block navigation %}
<a href="{% url 'dashboard-cohort-participants' cohort.id %}" class="nav-link">{{cohort.name}}</a>
<a href="{% url 'dashboard-cohort-burst-periods' cohort.id %}" class="nav-link active">Burst Periods</a>
{% endblock %}

{% block content %}
{{availability}}
<h2>Burst Periods for {{cohort.name}}</h2>

<table class="table">
    <thead>
        <th>Participant</th>
        <th>Activity Surveys</th>
        <th>Walking Suggestion Surveys</th>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <td>
                <a href="{% url 'dashboard-cohort-participant' cohort.id participant.heartsteps_id %}">{{participant.heartsteps_id}}</a>
                {% if participant.burst_period_configured %}
                {% if participant.burst_period_enabled %}
                <p>Enabled</p>
                {% else %}
                <p>Disabled</p>
                {% endif %}                
                {% else %}
                <p>Not configured</p>
                {% endif %}
            </td>
            <td>
                <dl>
                    <dt>Last Activity Survey</dt>
                    {% if participant.last_activity_survey %}
                    {% with activity=participant.last_activity_survey.fitbit_activity %}
                    <dd>{{activity.type}} at {{activity.start_time|date:"SHORT_DATETIME_FORMAT"}}</dd>
                    {% endwith %}
                    {% if participant.last_activity_survey.is_answered %}
                    <dd>Answered on {{participant.last_activity_survey.updated|date:"SHORT_DATETIME_FORMAT"}}</dd>
                    {% else %}
                    <dd>Not answered</dd>
                    {% endif %}
                    {% else %}
                    <dd>No activity survey</dd>
                    {% endif %}
                    <dt>Last Activity Survey Decision</dt>
                    {% if participant.last_activity_survey_decision %}
                    {% if participant.last_activity_survey_decision.treated %}
                    <dd>Treated ({{participant.last_activity_survey_decision.treatment_probability}})</dd>
                    {% else %}
                    <dd>Not treated ({{participant.last_activity_survey_decision.treatment_probability}})</dd>
                    {% endif %}
                    {% else %}
                    <dd>No activity survey decisions</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Last Walking Suggestion Survey</dt>
                    <dd>Sent on</dd>
                    <dd>Received on</dd>
                    <dd>Opened on</dd>
                    <dd>Completed on and completed fully</dd>
                </dl>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
