{% extends 'dashboard/base.html' %}
{% load static %}
{% load template_filters %}
{% load tz %}

{% block navigation %}
<a href="{% url 'dashboard-cohort-participants' cohort.id %}" class="nav-link">{{cohort.name}}</a>
<a href="{% url 'dashboard-cohort-burst-periods' cohort.id %}" class="nav-link active">Burst Periods</a>
{% endblock %}

{% block content %}
{% localtime off %}
{{availability}}
<h2>Burst Periods for {{cohort.name}}</h2>

<table class="table">
    <thead>
        <th>Participant</th>
        <th>Activity Surveys</th>
        <th>Walking Suggestion Surveys</th>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <td>
                <a href="{% url 'dashboard-cohort-participant' cohort.id participant.heartsteps_id %}">{{participant.heartsteps_id}}</a>
                {% if participant.burst_period_configured %}
                {% if participant.burst_period_enabled %}
                <p>Enabled</p>
                {% else %}
                <p>Disabled</p>
                {% endif %}                
                {% else %}
                <p>Not configured</p>
                {% endif %}
            </td>
            <td>
                <dl>
                    <dt>Activity Survey Status</dt>
                    {% with configuration=participant.activity_survey_configuration %}
                    {% if configuration %}
                    {% if configuration.enabled %}
                    <dd>Enabled</dd>
                    {% else %}
                    <dd>Disabled</dd>
                    {% endif %}
                    {% else %}
                    <dd>Not configured</dd>
                    {% endif %}
                    {% endwith %}

                    <dt>Last Activity Survey Randomization</dt>
                    {% with last_decision=participant.activity_survey_configuration.last_decision %}
                    {% if last_decision %}
                    {% if last_decision.treated %}
                    <dd>Treated ({{last_decision.treatment_probability}})</dd>
                    {% else %}
                    <dd>Not treated ({{last_decision.treatment_probability}})</dd>
                    {% endif %}

                    {% with activity=last_decision.fitbit_activity %}
                    {% if activity %}
                    <dd>
                        {{activity.type}} at {{activity.start_time|date:"SHORT_DATETIME_FORMAT"}}
                    </dd>
                    {% else %}
                    <dd class="is-error">No activity</dd>
                    {% endif %}
                    {% endwith %}

                    {% else %}
                    <dd class="is-error">No activity survey randomizations</dd>
                    {% endif %}
                    {% endwith %}

                    <dt>Last Activity Survey</dt>
                    {% with survey=participant.activity_survey_configuration.last_survey %}
                    {% if not survey %}
                    <dd>No activity surveys</dd>
                    {% endif %}

                    {% if survey %}
                    <dd>Created on {{survey.created|date}} at {{survey.created|time}}</dd>
                    {% if survey.is_answered %}
                    <dd>Answered on {{survey.answered_at|date}} at {{survey.answered_at|time}}</dd>
                    {% endif %}

                    {% endif %}
                    {% endwith %}

                    {% if not participant.activity_survey_configuration.last_survey.is_answered %}
                    {% if participant.activity_survey_configuration.last_answered_survey %}
                    {% with survey=participant.activity_survey_configuration.last_answered_survey %}
                    <dd>Last answered survey on {{survey.answered_at|date}} at {{survey.answered_at|time}}</dd>
                    {% endwith %}
                    {% else %}
                    <dd class="is-error">No answered surveys</dd>
                    {% endif %}
                    {% endif %}
                </dl>
            </td>
            <td>
                {% if participant.walking_suggestion_survey_configuration %}
                {% with configuration=participant.walking_suggestion_survey_configuration %}
                <dl>
                    <dt>Status</dt>
                    {% if configuration.enabled %}
                    <dd>Enabled</dd>
                    {% else %}
                    <dd>Disabled</dd>
                    {% endif %}
                    <dt>Last Randomization</dt>
                    {% if configuration.last_decision %}
                    <dd>
                        {% if configuration.last_decision.treated %}Treated{% else %}Not Treated{% endif %}
                        ({{configuration.last_decision.treatment_probability}})
                    </dd>
                    {% else %}
                    <dd>No randomization decisions made</dd>
                    {% endif %}
                    <dt>Last Walking Suggestion Survey</dt>
                    {% if configuration.last_survey %}
                    {% if configuration.last_survey_answered_datetime %}
                    <dd>Answered at {{configuration.last_survey_answered_datetime|date:"SHORT_DATETIME_FORMAT"}}</dd>
                    {% else %}
                    <dd>Not answered. Sent at {{configuration.last_survey_sent_datetime|date:"SHORT_DATETIME_FORMAT"}}</dd>
                    {% endif %}
                    {% else %}
                    <dd>No walking suggestion surveys</dd>
                    {% endif %}
                    {% if configuration.last_answered_survey_datetime and configuration.last_answered_survey_datetime != configuration.last_survey_answered_datetime %}
                    <dd>Last answered survey at {{configuration.last_answered_survey_datetime|date:"SHORT_DATETIME_FORMAT"}}</dd>
                    {% endif %}
                </dl>
                {% endwith %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endlocaltime %}
{% endblock %}
