{% extends 'dashboard/base.html' %}
{% load static %}
{% load template_filters %}
{% load humanize %}

{% block content %}

{% if is_staff %}

<table class="table-fit">
    <tr>
        <td>
            Select a User:
        </td>
        <td>
            <form action="{% url 'dashboard-chart' %}" method="POST" role="form">
                {% csrf_token %}
                <select class="form-select form-control m-1" style="width:auto;" id="selected_user" name="selected_user"
                    onchange="this.form.submit()">
                    {% if selected_user %}

                    {% else %}
                    <option selected>Select a User:</option>
                    {% endif %}

                    {% for user in users %}
                    <option value="{{ user.username }}" {% if selected_user %}
                        {% if selected_user == user.username %}selected{%endif%}{%endif%}>{{ user.username }}</option>
                    {% endfor %}
                </select>
            </form>
        </td>
        <td>
            <form action="{% url 'dashboard-chart' %}" method="POST" role="form">
                {% csrf_token %}
                <input type="hidden" name="selected_user" value="{{ selected_user }}" />
                <button type="submit" class="btn btn-primary mb-2 m-1">Refresh</button>
            </form>
        </td>

        <td>
            <p>Server time: {{server_time}}
        </td>
    </tr>
</table>

<div id="visualization"></div>
<div id="loading">loading...</div>

<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            datasets: [{
                label: 'steps',
                data: []
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'minute'
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // load data via an ajax request. When the data is in, load the timeline
    $.ajax({
        url: '/dashboard/chart/data',
        method: 'POST',
        data: {
            item: 'steps',
            selected_user: $('#selected_user').find('option:selected').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {
            console.log(data);
            // remove all current data
            myChart.data.datasets[0].data = [];

            // add all new data
            myChart.data.datasets[0].data = data;

            myChart.update();

        },
        error: function (err) {
            console.log('Error', err);
            alert('Failed to load chart/data?item=steps');
        }
    });
</script>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>


{% else %}
You're not a staff.
{% endif %}

{% endblock %}