{% extends 'dashboard/base.html' %}

{% block navigation %}
<a href="{% url 'dashboard-cohort-participants' cohort.id %}" class="nav-link">{{cohort.name}}</a>
<a href="{% url 'dashboard-cohort-walking-suggestion-surveys' cohort.id %}" class="nav-link active">Walking Suggestion Surveys</a>
{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <td>Dates</td>
            {% for date in dates %}
            <td>{{date}}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Decisions</th>
            {% for decisions in decisions_by_date %}
            <td>{{decisions}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Decisions to Treat</th>
            {% for decisions_to_treat in decisions_to_treat_by_date %}
            <td>{{decisions_to_treat}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Surveys Created</th>
            {% for surveys in surveys_by_date %}
            <td>{{surveys}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Surveys Answered</th>
            {% for surveys_answered in surveys_answered_by_date %}
            <td>{{surveys_answered}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Messages Sent</th>
            {% for messages_sent in messages_sent_by_date %}
            <td>{{messages_sent}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Messages Opened</th>
            {% for messages_opened in messages_opened_by_date %}
            <td>{{messages_opened}}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <td>Participant</td>
            {% for date in dates %}
            <td>{{date}}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <td>
                {% url 'dashboard-cohort-participant' cohort.id participant.heartsteps_id as overview_url %}
                <a href="{{overview_url}}">{{participant.heartsteps_id}}</a>
                <p>{{participant.configured}}</p>
            </td>
            {% for day in participant.dates %}
            <td>
                {% if day.decisions %}
                <ul>
                {% for decision in day.decisions %}
                <li>
                    <em>{{decision.time}}</em>
                    {{decision.treated}}
                    {{decision.treatment_probability}}
                </li>
                {% endfor %}
                </ul>
                {% else %}
                <p>No decisions</p>
                {% endif %}
                {% if day.decisions %}
                <ul>
                {% for survey in day.surveys %}
                <li>
                    <em>{{survey.time}}</em>
                    {{survey.treated}}
                    {{survey.treatment_probability}}
                </li>
                {% endfor %}
                </ul>
                {% else %}
                <p>No surveys</p>
                {% endif %}

                {% if day.messages %}
                <ul>
                {% for message in day.messages %}
                    <li>
                        <em>{{message.sent}}</em>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                <p>No messages</p>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}