{% extends 'dashboard/base.html' %}
{% load static %}
{% load template_filters %}

{% block content %}
<h3>DevTest</h3>
<ul>
    <li>
        <form class="form-inline" action="{% url 'dashboard-dev-send-notification' %}" method="POST" role="form">
            {% csrf_token %}
            <div class="form-group mb-2">
                Send example notification to a test device.
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="playerid" name="playerid" placeholder="Player ID">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Send</button>
        </form>
    </li>

    <li>
        <form class="form-inline" action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
            {% csrf_token %}
            <input type="hidden" id="dev-command" value="create-debug-study" name="dev-command" />
            <div class="form-group mb-2">
                Create N studies with random names.
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="number_of_studies" name="number_of_studies" placeholder="ex) 10">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create</button>
        </form>
    </li>


    <li>
        <form class="form-inline" action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
            {% csrf_token %}
            <div class="form-group mb-2">
                Clear all debug studies.
            </div>
            <input type="hidden" id="dev-command" value="clear-debug-study" name="dev-command" />
            <button type="submit" class="btn btn-primary mb-2">Clear</button>
        </form>
    </li>

</ul>




<div>
{% for study in studies %}
    <h3>{{study.name}}</h3>
    <ul>
    {% for cohort in study.cohorts %}
        <li>
            <a href="{% url 'dashboard-cohort-participants' cohort.id %}">{{cohort.name}}</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</div>
{% endblock %}
