<div class="card">
    <div class="card-header" id="heading5">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true"
            aria-controls="collapse5">
            <h4>Tools</h4>
        </button>
    </div>
    <div id="collapse5" class="collapse cardmargin" aria-labelledby="heading5" data-parent="#accordion">
        <ul>
            <li>
                <form action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="dev-command" value="generic-command" name="dev-command" />

                    <div class="form-row">
                        <div class="col">
                            Perform a generic job
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <select class="form-select form-control m-1" id="generic-command" name="generic-command">
                                <option selected>Select a generic job</option>
                                {% for generic_command in generic_command_list %}
                                <option value="{{generic_command}}">{{generic_command}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary mb-2 m-1">Perform</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="dev-command" value="fix-scheduler-per-user" name="dev-command" />

                    <div class="form-row">
                        <div class="col">
                            Fix Daily Tasks of a user.
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <select class="form-select form-control m-1" id="username" name="username">
                                <option selected>Select a User</option>
                                {% for puser in participant_users %}
                                <option value="{{puser.username}}">{{puser.study.name}} | {{puser.cohort.name}} |
                                    {{puser.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary mb-2 m-1">Send</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form class="form-inline" action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="dev-command" value="send-notification" name="dev-command" />
                    <div class="form-group mb-2">
                        Send example notification to a test device.
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" id="playerid" name="playerid" placeholder="Player ID">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Send</button>
                </form>
            </li>
            <li>
                <form action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="dev-command" value="set-device-token" name="dev-command" />

                    <div class="form-row">
                        <div class="col">
                            Set OneSignal Token to a participant.
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <select class="form-select form-control m-1" id="username" name="username">
                                <option selected>Select a User</option>
                                {% for puser in participant_users %}
                                <option value="{{puser.username}}">{{puser.study.name}} | {{puser.cohort.name}} |
                                    {{puser.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control m-1" id="playerid" name="playerid"
                                placeholder="Player ID">
                            <button type="submit" class="btn btn-primary mb-2 m-1">Set</button>
                        </div>
                    </div>
                </form>
            </li>

            <li>
                <form action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="dev-command" value="send-notification-to-user" name="dev-command" />

                    <div class="form-row">
                        <div class="col">
                            Send test notification to a user.
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <select class="form-select form-control m-1" id="username" name="username">
                                <option selected>Select a User</option>
                                {% for puser in participant_users %}
                                <option value="{{puser.username}}">{{puser.study.name}} | {{puser.cohort.name}} |
                                    {{puser.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary mb-2 m-1">Send</button>
                        </div>
                    </div>
                </form>
            </li>


            <li>
                <form action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="dev-command" value="send-typed-notification-to-user" name="dev-command" />

                    <div class="form-row">
                        <div class="col">
                            Send typed notification to a user.
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <select class="form-select form-control m-1" id="username" name="username">
                                <option selected>Select a User</option>
                                {% for puser in participant_users %}
                                <option value="{{puser.username}}">{{puser.study.name}} | {{puser.cohort.name}} |
                                    {{puser.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <select class="form-select form-control m-1" id="notification_type"
                                name="notification_type">
                                <option selected>Select a Notification Type</option>
                                <option value="body_only">Body Only</option>
                                <option value="short_body_title">Short Body and Title</option>
                                <option value="long_body_title">Long Body and Title</option>
                                <option value="url1">URL 1: Google</option>
                                <option value="url2">URL 2: Heartsteps Dashboard</option>
                                <option value="url3">URL 3: Heartsteps Setting</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary mb-2 m-1">Send</button>
                        </div>
                    </div>
                </form>
            </li>

            <li>
                <form action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="dev-command" value="delete_hourly_tasks" name="dev-command" />

                    <div class="form-row">
                        <div class="col">
                            Delete an hourly-task
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <select class="form-select form-control m-1" id="hourly-task-id" name="hourly-task-id">
                                <option selected>Select an hourly-task</option>
                                {% for hourly_task in hourly_tasks %}
                                <option value="{{hourly_task.id}}">{{hourly_task.id}} | {{hourly_task.name}} |
                                    {{hourly_task.str}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary mb-2 m-1">Delete</button>
                        </div>
                    </div>
                </form>
            </li>

            <li>
                <form action="{% url 'dashboard-dev-generic' %}" method="POST" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="dev-command" value="set_zip_code" name="dev-command" />

                    <div class="form-row">
                        <div class="col">
                            Add ZIP code for user
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <select class="form-select form-control m-1" id="username" name="username">
                                <option selected>Select a User</option>
                                {% for puser in participant_users %}
                                <option value="{{puser.username}}">{{puser.study.name}} | {{puser.cohort.name}} |
                                    {{puser.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control m-1" id="zipcode" name="zipcode"
                                placeholder="ZIP Code">
                            <button type="submit" class="btn btn-primary mb-2 m-1">Set</button>
                        </div>
                    </div>
                </form>
            </li>


        </ul>
    </div>
</div>

