{% extends 'dashboard/base.html' %}
{% load static %}
{% load tz %}
{% load template_filters %}

{% block navigation %}
<a href="{% url 'dashboard-cohort-participants' cohort.id %}" class="nav-link">{{cohort.name}}</a>
<a href="{% url 'dashboard-cohort-download' cohort.id %}" class="nav-link active">Download</a>
{% endblock %}


{% block body %}
<h2>Export Status for {{cohort.name}}</h2>
<p>{{total_files}} files exported for {{total_participants}} participants</p>

<table class="table">
    <thead>
        <th>Type</th>
        <th>Files</th>
        <th>Recent</th>
        <th>Errors</th>
    </thead>
    <tbody>
        {% for export_type in export_types %}
        <tr>
            <td>{{export_type.name}}</td>
            <td>{{export_type.count}}</td>
            <td>{{export_type.recent}}</td>
            <td>{{export_type.errors}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <td>Participant</td>
        {% for filename in filenames %}
        <td>{{filename}}</td>
        {% endfor %}
    </thead>
    <tbody>
        {% timezone 'US/Pacific' %}
        {% for participant in participants %}
        <tr>
            <td>
                <a href="{% url 'dashboard-cohort-participant' cohort.id participant.heartsteps_id %}"
                    >
                    {{participant.heartsteps_id}}
                </a>
                <dl>
                    <dt>Status</dt>
                    <dd>{{participant.status}}</dd>
                    <dt>Study Start</dt>
                    <dd>{{participant.study_start}}</dd>
                    <dt>Study End</dt>
                    <dd>{{participant.study_end}}</dd>
                </dl>
            </td>
            {% for export in participant.exports %}
            <td>
            {% if export %}
                <dl>
                    <dt>{{export.filename}}</dt>
                    <dd>Last update {{export.date}}</dd>
                    {% if export.error %}
                    <dt>Error</dt>
                    <dd>{{export.error}}</dd>
                    {% endif %}
                </dl>
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endtimezone %}
    </tbody>
</table>

{% if prev_page %}
<a href="?page={{prev_page}}">Previous Page</a>
{% endif %}
{% if next_page %}
<a href="?page={{next_page}}">Next Page</a>
{% endif %}

{% endblock %}
