{% extends 'dashboard/participants.html' %}
{% load static %}
{% load template_filters %}

{% block body %}
<table class='table table-striped table-bordered table-hover'>
    <thead class="thead-dark">
        <tr>
            <th>Participant</th>
            <th>Text Messages</th>
            <th>Fitbit</th>
            <th>Mobile App</th>
            <th>Watch App</th>
            <th>Morning Messages</th>
            <th>Anti-sedentary suggestions</th>
            <th>Walking suggestions</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participant_list %}
        <tr>
            {% load tz %}
            {% timezone 'US/Pacific' %}
            <td>
                <a href="{% url 'dashboard-cohort-participant' cohort.id participant.heartsteps_id %}"
                    >
                    {{participant.heartsteps_id}}
                </a>
                <dl>
                    {% if participant.date_joined %}
                    <dt>Joined date</dt>
                    <dd>{{ participant.date_joined|date }}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Phone</dt>
                    {% if participant.phone_number %}
                    <dd>{{participant.phone_number }}</dd>
                    {% endif %}
                    {% if participant.last_text_sent %}
                    <dt>Last text sent</dt>
                    <dd>{{participant.last_text_sent}}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Status</dt>
                    {% if participant.fitbit_authorized == 'current' %}
                     <dd class="success">Authorized</dd>
                    {% elif participant.fitbit_authorized == 'never' %}
                    <dd class="error">No account</dd>
                    {% elif participant.fitbit_authorized == 'prior' %}
                    <dd class="error">Unauthorized</dd> 
                    {% endif %}
                    {% if participant.fitbit_first_updated %}
                    <dd>First update {{ participant.fitbit_first_updated|date }}</dd>
                    {% endif %}
                    {% if participant.fitbit_last_updated %}
                    <dd>Last update {{participant.last_updated}}</dd>
                    {% endif %}
                    <dt>Days worn</dt>
                    <dd>{{participant.days_wore_fitbit}}</dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Installed</dt>
                    {% if participant.first_page_view %}
                    <dd>{{ participant.first_page_view|date }}<dd>
                    {% else %}
                    <dd class="error">Not installed</dd>
                    {% endif %}
                    {% if participant.last_page_view %}
                    <dt>Last page view</dt>
                    <dd>{{ participant.last_page_view|date }}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Installed</dt>
                    {% if participant.watch_app_installed_date %}
                    <dd>{{ participant.watch_app_installed_date|date }}</dd>
                    {% else %}
                    <dd class="error">Not installed</dd>
                    {% endif %}
                    {% if participant.last_watch_app_data %}
                    <dt>Last update</dt>
                    <dd>{{ participant.last_watch_app_data|date }}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Status</dt>
                    {% if participant.morning_messages_enabled %}
                    <dd class="success">Enabled</dd>
                    {% else %}
                    <dd class="error">Disabled</dd>
                    {% endif %}
                    {% if participant.last_morning_message_survey_completed %}
                    <dt>Last completed survey</dt>
                    <dd>{{participant.last_morning_message_survey_completed|date }}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Status</dt>
                    <dd>
                    {% if participant.anti_sedentary_suggestions_enabled %}
                        Enabled
                    {% else %}
                    Disabled
                        {% endif %}
                    </dd>
                    {% if participant.last_anti_sedentary_suggestion_datetime %}
                    <dt>Last suggestion</dt>
                    <dd>{{participant.last_anti_sedentary_suggestion_datetime|date}}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Status</dt>
                    <dd>
                    {% if participant.walking_suggestions_enabled %}
                    Enabled
                    {% else %}
                    Disabled
                    {% endif %}
                    </dd>
                    {% if participant.walking_suggestion_service_initialized_date %}
                    <dd>Service initialized on {{participant.walking_suggestion_service_initialized_date}}</dd>
                    {% else %}
                    <dd>Service not initialized</dd>
                    {% endif %}
                    {% if participant.last_walking_suggestion_datetime %}
                    <dt>Last decision</dt>
                    <dd>{{ participant.last_walking_suggestion_datetime|date}}<dd>
                    {% endif %}
                </dl>
            </td>

            {% endtimezone %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
