{% extends 'dashboard/participants.html' %}
{% load static %}
{% load template_filters %}

{% block body %}
<div>
    <p>{{total_participants}} participants. Showing {{participant_list|length}} participants.</p>
</div>
<table class='table table-striped table-bordered table-hover'>
    <thead class="thead-dark">
        <tr>
            <th>Participant</th>
            <th>Text Messages</th>
            <th>Fitbit</th>
            <th>Mobile App</th>
            <th>Watch App</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participant_list %}
        <tr>
            {% load tz %}
            {% timezone 'US/Pacific' %}
            <td>
                <a href="{% url 'dashboard-cohort-participant' cohort.id participant.heartsteps_id %}"
                    >
                    {{participant.heartsteps_id}}
                </a>
                <dl>
                    {% if participant.study_start %}
                    <dt>Study Start</dt>
                    <dd>{{ participant.study_start|date }}</dd>
                    <dt>Study End</dt>
                    <dd>{{ participant.study_end|date }}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Phone</dt>
                    {% if participant.phone_number %}
                    <dd>{{participant.phone_number }}</dd>
                    {% endif %}
                    {% if participant.last_text_sent %}
                    <dt>Last text sent</dt>
                    <dd>{{participant.last_text_sent}}</dd>
                    {% endif %}
                    <dt>Recent Adherence Messages Sent</dt>
                    <dd>
                    {% if participant.adherence_messages %}
                    {{participant.adherence_messages}} messages
                    {% else %}
                    No messages sent
                    {% endif %}
                    </dd>
                </dl>
            </td>
            <td>
                {% if participant.fitbit_account %}
                <dl>
                    <dt>Status</dt>
                    {% if participant.fitbit_authorized %}
                    <dd class="success">Authorized</dd>
                    {% else %}
                    <dd class="error">Unauthorized</dd> 
                    {% endif %}
                    {% if participant.fitbit_first_updated %}
                    <dd>First update {{ participant.fitbit_first_updated|date }}</dd>
                    {% endif %}
                    {% if participant.fitbit_last_updated %}
                    <dd>Last update {{participant.fitbit_last_updated}}</dd>
                    {% endif %}
                    <dt>Days worn</dt>
                    <dd>{{participant.fitbit_days_worn}}</dd>
                </dl>
                {% endif %}
            </td>
            <td>
                <dl>
                    <dt>Installed</dt>
                    {% if participant.first_page_view %}
                    <dd>{{ participant.first_page_view|date }}<dd>
                    {% else %}
                    <dd class="error">Not installed</dd>
                    {% endif %}
                    {% if participant.current_app_platform and participant.current_app_version %}
                    <dd>{{participant.current_app_version}} ({{participant.current_app_platform}})</dd>
                    {% endif %}
                    {% if participant.last_page_view %}
                    <dt>Last page view</dt>
                    <dd>{{ participant.last_page_view|date }}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Fitbit Clock Face</dt>
                    {% if participant.fitbit_clock_face_installed %}
                    <dd>
                        <em>Version:</em>
                        {{ participant.fitbit_clock_face_version}}
                    </dd>
                    {% if participant.fitbit_clock_face_pin %}
                    <dd><em>Pin:</em> {{participant.fitbit_clock_face_pin}}</dd>
                    {% endif %}
                    <dd>
                        Created
                        {{ participant.fitbit_clock_face_created | date }}
                        {{ participant.fitbit_clock_face_created | time }}
                    </dd>
                    {% if participant.fitbit_clock_face_last_paired %}
                    <dd>
                        Paired
                        {{ participant.fitbit_clock_face_last_paired | date }}
                        {{ participant.fitbit_clock_face_last_paired | time }}
                    </dd>
                    {% endif %}
                    {% else %}
                    <dd class="error">Not installed</dd>
                    {% endif %}
                    {% if participant.last_fitbit_clock_face_log %}
                    <dt>Last Clock Face Log</dt>
                    <dd>
                        Time:
                        {{ participant.last_fitbit_clock_face_log.time | date }}
                        {{ participant.last_fitbit_clock_face_log.time | time }}
                    </dd>
                    <dd>
                        {{ participant.last_fitbit_clock_face_log.steps }}
                        Steps
                    </dd>
                    {% endif %}
                    {% if participant.last_fitbit_clock_face_step_count %}
                    <dt>Last Step Count</dt>
                    <dd>
                        Time:
                        {{ participant.last_fitbit_clock_face_step_count.start | date }}
                        {{ participant.last_fitbit_clock_face_step_count.start | time }}
                    </dd>
                    <dd>
                        {{ participant.last_fitbit_clock_face_step_count.steps }}
                        Steps
                    </dd>
                    {% endif %}
                    {% if participant.last_location %}
                    <dt>Last Location</dt>
                    <dd>
                        {{ participant.last_location.time | date }}
                        {{ participant.last_location.time | time }}
                    </dd>
                    <dd>
                        {{ participant.last_location.category }}
                    </dd>
                    {% endif %}
                </dl>
            </td>
            {% endtimezone %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
