{% extends 'dashboard/participants.html' %}
{% load static %}
{% load template_filters %}

{% block body %}
<table class='table table-striped table-bordered table-hover'>
    <thead class="thead-dark">
        <tr>
            <th>Participant</th>
            <th>Text Messages</th>
            <th>Fitbit</th>
            <th>Mobile App</th>
            <th>Watch App</th>
            <th>Anti-sedentary suggestions</th>
            <th>Walking suggestions</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participant_list %}
        <tr>
            {% load tz %}
            {% timezone 'US/Pacific' %}
            <td>
                <a href="{% url 'dashboard-cohort-participant' cohort.id participant.heartsteps_id %}"
                    >
                    {{participant.heartsteps_id}}
                </a>
                <p><strong>Account created:</strong>{{ participant.date_joined|date }}</p>
            </td>
            <td>
                <strong>Phone:</strong>{{participant.phone_number }}
                <br />
                <strong>Last text sent:</strong>{{participant.last_text_sent|date }}
            </td>
            <td>
                {% if participant.fitbit_authorized == 'current' %}
                    <img src="{% static 'admin/img/icon-yes.svg' %}"
                        data-toggle='tooltip' data-placement='bottom'
                        title='Currently authorized' />
                {% elif participant.fitbit_authorized == 'never' %}
                    <img src="{% static 'admin/img/icon-no.svg' %}"
                        data-toggle='tooltip' data-placement='bottom'
                        title='Never authorized' />
                {% elif participant.fitbit_authorized == 'prior' %}
                    <img src="{% static 'admin/img/icon-unlink.svg' %}"
                        data-toggle='tooltip' data-placement='bottom'
                        title='Previously authorized' />
                {% endif %}
                <p>
                    <strong>First update: </strong>{{ participant.fitbit_first_updated|date }}
                </p>
                <p>
                    <strong>Last update:</strong> {{ participant.fitbit_last_updated | date }}
                </p>
                <p>
                    <strong>Days worn:</strong> {{ participant.days_wore_fitbit }}
                <p>
            </td>
            <td>
                <dl>
                    <dt>Installed</dt>
                    <dd>{{ participant.first_page_view|date }}<dd>
                    <dt>Last page view</dt>
                    <dd>{{ participant.last_page_view|date }}</dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dt>Installed</dt>
                    <dd>{{ participant.watch_app_installed_date|date }}</dd>
                    <dt>Last update:</dt>
                    <dd>{{ participant.last_watch_app_data|date }}</dd>
                </dl>
            </td>
            <td>
                {% if participant.anti_sedentary_suggestions_enabled %}
                Enabled
                {% else %}
                Disabled
                {% endif %}
            </td>
            <td>
                {% if participant.walking_suggestions_enabled %}
                Enabled
                {% else %}
                Disabled
                {% endif %}
                <p>
                {% if participant.walking_suggestion_service_initialized_date %}
                    <strong>Service initialized date:</strong>
                {{participant.walking_suggestion_service_initialized_date}}
                {% else %}
                    Not initialized
                {% endif %}
                </p>
            </td>

            {% endtimezone %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
