{% extends 'dashboard/base.html' %}
{% load static %}
{% load template_filters %}

{% block navigation %}
<a href="{% url 'dashboard-cohort-participants' cohort.id %}" class="nav-link">{{cohort.name}}</a>
<a href="{% url 'dashboard-cohort-intervention-summary' cohort.id %}" class="nav-link active">Intervention Summary</a>
{% endblock %}

{% block content %}

<h2>Intervention Summary for {{cohort.name}}</h2>
{% include "dashboard/intervention-summary.table.html" %}

{% endblock %}
