{% extends 'dashboard/base.html' %}
{% load static %}
{% load template_filters %}

{% block navigation %}
<a href="{% url 'dashboard-cohort-participants' cohort.id %}" class="nav-link">{{cohort.name}}</a>
<a href="{% url 'dashboard-cohort-participant' cohort.id participant.heartsteps_id %}" class="nav-link active">{{participant.heartsteps_id}}</a>
{% endblock %}

{% block content %}
<h3>Participant Information</h3>
<dl>
    <dt>HeartSteps ID</dt>
    <dd>{{participant.heartsteps_id}}</dd>
    <dt>Enrollment token</dt>
    <dd>{{participant.enrollment_token}}</dd>
    <dt>Birth year</dt>
    <dd>{{participant.birth_year}}</dd>
</dl>
<a href="{% url 'dashboard-cohort-participant-edit' cohort.id participant.heartsteps_id %}"
    >
    Edit participant information
</a>
<h3>Participant Status</h3>
<dl>
    <dt>Active</dt>
    {% if participant.active %}
    <dd>
        Active
        <a href="{% url 'dashboard-cohort-participant-disable' cohort.id participant.heartsteps_id %}">
            Disable Participant
        </a>
    </dd>
    {% else %}
    <dd>
        Disabled
        <a href="{% url 'dashboard-cohort-participant-enable' cohort.id participant.heartsteps_id %}">
            Enable Participant
        </a>                    
    </dd>
    {% endif %}
    <dt>Fitbit Status</dt>
    <dd>
        {% if fitbit_authorized %}
        Authorized
        <a href="{% url 'dashboard-cohort-participant-fitbit-disable' cohort.id participant.heartsteps_id %}">Disable fitbit account</a>
        {% else %}
        Unauthorized
        {% endif %}
    </dd>
    {% if fitbit_last_updated %}
    <dd>
        Fitbit last updated {{ fitbit_last_updated | date }}
    </dd>
    {% endif %}
    <dt>Fitbit Clock Face</dt>
    <dd>
        <a href="{% url 'dashboard-cohort-participant-clock-face' cohort.id participant.heartsteps_id %}">
            View Participant Fitbit Clock Face
        </a>
    </dd>
    <dt>Archived</dt>
    <dd>
        {% if participant.archived %}
        Archived
        <a href="{% url 'dashboard-cohort-participant-unarchive' cohort.id participant.heartsteps_id %}">
            Unarchive Participant
        </a>
        {% else %}
        Not Archived
        <a href="{% url 'dashboard-cohort-participant-archive' cohort.id participant.heartsteps_id %}">
            Archive Participant
        </a>
        {% endif %}
    </dd>
</dl>
<h3>Interventions</h3>
<dl>
{% for configuration in configurations %}
    <dt>{{configuration.title}}</dt>
    <dd>
        {% if configuration.enabled %}
        Enabled
        {% else %}
        Disabled
        {% endif %}
    </dd>
    {% if configuration.treatment_probability is not None %}
    <dd>Treatment probability is {{configuration.treatment_probability}}</dd>
    {% endif %}
    {% if configuration.actions %}
    <dd>
        {% for action in configuration.actions %}
        <form action="{{action.url}}" method="POST">
            {% csrf_token %}
            <input type="submit" name="{{action.value}}" value="{{action.name}}" />
        </form>
        {% endfor %}
    </dd>
    {% endif %}
{% endfor %}
</dl>
<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link"
                href="{% url 'dashboard-cohort-participant-intervention-summary' cohort.id participant.heartsteps_id %}"
                >
                Intervention Summary
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="{% url 'dashboard-cohort-participant-activity-summary' cohort.id participant.heartsteps_id %}"
                >
                Activity Summary
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="{% url 'dashboard-cohort-participant-morning-messages' cohort.id participant.heartsteps_id %}"
                >
                Morning Messages
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="{% url 'dashboard-cohort-participant-sms-messages' cohort.id participant.heartsteps_id %}"
                >
                Text Messages
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="{% url 'dashboard-cohort-participant-notifications' cohort.id participant.heartsteps_id %}"
                >
                Notifications
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="{% url 'dashboard-cohort-participant-export' cohort.id participant.heartsteps_id %}"
                >
                Data Exports
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="{% url 'dashboard-cohort-participant-page-views' cohort.id participant.heartsteps_id %}"
                >
                Page Views
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                href="{% url 'dashboard-cohort-participant-user-logs' cohort.id participant.heartsteps_id %}"
                >
                User Logs
            </a>
        </li>
    </ul>
</nav>
<form action="{% url 'dashboard-cohort-participant-notifications' cohort.id participant.heartsteps_id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="message" value="Hi, this is a test message." />
    <input type="submit" value="Send test notification" />
</form>

<form action="{% url 'dashboard-cohort-participant-notifications' cohort.id participant.heartsteps_id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="message" value="Hi, this is a test message." />
    <input type="hidden" name="module" value="generic_messages" />
    <input type="submit" value="Send test notification with generic_messages app" />
</form>

<form method="POST" action="{% url 'dashboard-cohort-participant-send-walking-suggestion-survey' cohort.id participant.heartsteps_id %}">
    {% csrf_token %}
    <input type="submit" value="Send Walking Suggestion Survey" />
</form>

<form action="{% url 'dashboard-cohort-add-studytype' cohort.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="message" value="Hi, this is a test message." />
    <input type="hidden" name="module" value="generic_messages" />
    <input type="submit" value="Flag this participant's cohort as NLM" />
</form>


{% endblock %}
