.heartsteps-activity-log,
heartsteps-activity-log {
    @extend .activity-type;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &:before {
        margin: 0em 0.5em;
    }

    .earned {
        flex-grow: 0;
        text-align: center;
        margin: 0em 0.5em;
        span {
            @extend .label;
        }
    }
}