activity-enjoyed-field {
    ul {
        @extend ul.horizontal;
    }

    ul li label {
        display: block;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        text-indent: 3000em;
    }

    ul li input[type=radio] {
        appearance: none;
        margin: 0.5em;
        width: 2em;
        height: 2em;

        background-color: $text-color;
        mask-image: url('../assets/enjoyed-none.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
        mask-size: 100% 100%;

        &:checked {
            background-color: $color-primary;
        }

        &:focus,
        &:hover {
            opacity: 0.7;
        }

        &#activity-enjoyed-0 {
            mask-image: url('../assets/enjoyed-none.svg');
        }

        &#activity-enjoyed-1 {
            mask-image: url('../assets/enjoyed-little.svg');
        }
        &#activity-enjoyed-2 {
            mask-image: url('../assets/enjoyed-some.svg');
        }
        &#activity-enjoyed-3 {
            mask-image: url('../assets/enjoyed-full.svg');
        }
    }
}