activity-enjoyed-field {
    @extend app-range-field.heartsteps-form-field;

    .heartsteps-checkmark-button {
        &:before {
            -webkit-mask-box-image: url('../assets/enjoyed-none.svg');
        }

        &#activity-enjoyed-0:before {
            -webkit-mask-box-image: url('../assets/enjoyed-none.svg');
        }
        
        &#activity-enjoyed-1:before {
            -webkit-mask-box-image: url('../assets/enjoyed-little.svg');
        }
        &#activity-enjoyed-2:before {
            -webkit-mask-box-image: url('../assets/enjoyed-some.svg');
        }
        &#activity-enjoyed-3:before {
            -webkit-mask-box-image: url('../assets/enjoyed-full.svg');
        }
    }
}
