<app-form [formGroup]="form" (onSubmit)="save()">
    <div>
        <label for="activity-plan-type">Activity</label>
        <heartsteps-activity-type id="activity-plan-type" name="activity" formControlName="activity"></heartsteps-activity-type>
    </div>
    <fieldset class="intensity input-group">
        <legend>Intensity</legend>
        <ul>
            <li>
                <input id="activity-plan-intensity-moderate" type="radio" name="vigorous" formControlName="vigorous" [value]="false" />
                <label for="activity-plan-intensity-moderate">
                    Moderate
                    <span>1x time credit</span>
                </label>
            </li>
            <li>
                <input id="activity-plan-intensity-vigorous" type="radio" name="vigorous" formControlName="vigorous" [value]="true" />
                <label for="activity-plan-intensity-vigorous">
                    Vigorous
                    <span>2x time credit</span>
                </label>
            </li>
        </ul>
    </fieldset>
    <app-duration-field 
        formControlName="duration"
        label="Duration"
        >
    </app-duration-field>
    <app-date-field
        formControlName="date"
        label="Date"
        [available-dates]="availableDates"
        >
    </app-date-field>
    <app-time-field
        formControlName="time"
        label="Time"
        >
    </app-time-field>
    <div app-form-controls>
        <button class="danger" (click)="delete()" >Delete</button>
    </div>
</app-form>
