<app-form [formGroup]="form" (onSubmit)="save()">
    <heartsteps-activity-type-field
        formControlName="activity"
        label="Activity type"
        >
    </heartsteps-activity-type-field>
    <heartsteps-activity-intensity-field
        formControlName="vigorous"
        label="Intensity"
        >
    </heartsteps-activity-intensity-field>
    <app-duration-field 
        formControlName="duration"
        label="Duration"
        >
    </app-duration-field>
    <app-date-field
        formControlName="date"
        label="Date"
        [available-dates]="availableDates"
        >
    </app-date-field>
    <app-time-field
        formControlName="time"
        label="Time"
        >
    </app-time-field>
    <activity-enjoyed-field
        formControlName="enjoyed"
        label="How much did you enjoy this activity?"
        >
    </activity-enjoyed-field>
</app-form>
<button class="danger" (click)="delete()" >Delete</button>
