<form *ngIf="form" [formGroup]="form">
    <div>
        <label for="activity-plan-type">Activity</label>
        <heartsteps-activity-type id="activity-plan-type" name="activity" formControlName="activity"></heartsteps-activity-type>
    </div>
    <fieldset class="intensity input-group">
        <legend>Intensity</legend>
        <ul>
            <li>
                <input id="activity-plan-intensity-moderate" type="radio" name="vigorous" formControlName="vigorous" [value]="false" />
                <label for="activity-plan-intensity-moderate">
                    Moderate
                    <span>1x time credit</span>
                </label>
            </li>
            <li>
                <input id="activity-plan-intensity-vigorous" type="radio" name="vigorous" formControlName="vigorous" [value]="true" />
                <label for="activity-plan-intensity-vigorous">
                    Vigorous
                    <span>2x time credit</span>
                </label>
            </li>
        </ul>
    </fieldset>
    <ion-item>
        <ion-label>Duration</ion-label>
        <ion-input formControlName="duration" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label for="activity-plan-date">Date</ion-label>
        <ion-select id="activity-plan-date" formControlName="date">
            <ion-option *ngFor="let date of availableDates">{{date}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Start time</ion-label>
        <ion-datetime formControlName="time" displayFormat="h:mm a" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>
    <div class="controls">
        <button (click)="save()">Save</button>
        <button class="danger" (click)="delete()">Delete</button>
    </div>
</form>