
.modal-wrapper {

    article {
        padding: 0em;
    }

    article > * {
        width: 100%;
    }

    article > .content {
        flex-grow: 1;
    }

    article > header .back {
        color: $color-danger;
    }

}