<ion-header>
    <ion-navbar>
        <ion-title>Edit Location</ion-title>
        <a (click)="dismiss()">Cancel</a>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div #map id="map" width="100%" height="200px"></div>
    <ion-list *ngIf="addressPredictions">
        <button *ngFor="let address of addressPredictions" ion-item (click)="setAddress(address.description)">
            {{address.description}}
        </button> 
    </ion-list>
    <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input [(ngModel)]="address" (keyup)="showPredictions()"></ion-input>
    </ion-item>
    <button *ngIf="updateView" ion-button color="danger" (click)="delete()">Delete</button>
    <button *ngIf="updateView" ion-button (click)="update()" >Update</button>
    <button *ngIf="!updateView" ion-button (click)="update()" >Save</button>
</ion-content>