<app-page class="start-screen">
    <div *ngIf="!loading && !form"
        class="headline"
        >
        <p>{{body}}</p>
    </div>
    <app-form *ngIf="form && !loading"
        [formGroup] = "form"
        submitLabel = "Complete"
        (onSubmit) = "saveSurvey()"
        >
        <div class="headline">
            <p>{{body}}</p>
        </div>
        <div *ngFor="let question of questions">
            <app-choice-field *ngIf="question.kind=='select-one'"
                [formControlName]="question.name"
                [label]="question.label"
                [options]="question.options"
            ></app-choice-field>
            <app-range-field *ngIf="question.kind=='likert'"
                [formControlName]="question.name"
                [label]="question.label"
                [options]="question.options"
            ></app-range-field>
        </div>
    </app-form>
    <app-form *ngIf="ratingForm && !form && !loading"
        [formGroup] = "ratingForm"
        submitLabel = "Complete"
        (onSubmit) = "saveRating()"
        >
        <fieldset class="input-group thumbs">
            <legend>Do you like this message?</legend>
            <ul>
                <li>
                    <input id="notification-liked"
                        type="radio"
                        name="liked"
                        [value]="true"
                        formControlName="liked"
                        />
                    <label for="notification-liked">
                        Like message
                    </label>
                </li>
                <li>
                    <input id="notification-disliked"
                        type="radio"
                        name="liked"
                        [value]="false"
                        formControlName="liked"
                        />
                    <label for="notification-disliked">
                        Dislike message
                    </label>
                </li>
            </ul>
        </fieldset>

        <app-text-field *ngIf="isStaff"
            formControlName="comments"
            label="Comments"
            description="Visible to staff only"
            >
        </app-text-field>
    </app-form>
    <button *ngIf="!form && !ratingForm && !loading" (click)="dismiss()">Close</button>
</app-page>
