@import 'theme/base.scss';
@import 'theme/layout.scss';
@import 'theme/forms.scss';
@import 'theme/logo.scss';
@import 'theme/start-screen.scss';

body > ion-app.app-root {
    background-color: transparent;
}

.app-root > .pages > *,
.app-root > .modals > * {
    @extend .heartsteps-scroll-container;
    @extend .heartsteps-fullscreen-container;
    z-index: 10;
}

.app-root > .modals > * {
    z-index: 15;
}

.app-root > .pages > router-outlet,
.app-root > .modals > router-outlet {
    display:none;
}

