page-home {
    @extend .heartsteps-page;

    padding: 0px;
    overflow: hidden;

    > *,
    &:before,
    &:after {
        width: 100%;
    }

    > .content {
        flex-grow: 1;
        height: 0px;
        padding: 0em;
        background-color: $background-alternate;
    }

    &:after {
        background-color: $background-alternate;
    }

    article {
        margin: 0.5em 0em;
    }
    
     > nav {

        > * {
            display: block;
            position: relative;
            width: 70px;
            padding: $space-size/2 0px;
            padding-top: 50px;
            text-align: center;
            font-size: 12px;
            text-decoration: none;
            color: $color-gray-dark;
            white-space: nowrap;
        }
        > *:before {
            content: ' ';
            mask-repeat: no-repeat;
            mask-position: 50% 50%;
            background-color: $color-gray-dark;
            display: block;
            position: absolute;
            top: $space-size/2;
            left: 50%;
            transform: translate(-50%, 0%);
            height: 35px;
            width: 35px;
        }
        > .active {
            color: $color-primary;
            &:before {
                background-color: $color-primary;
            }
        }

        .dashboard:before {
            mask-image: url('../assets/dashboard.svg');
        }
        .planning:before {
            mask-image: url('../assets/planning.svg');
        }
        .activities:before {
            mask-image: url('../assets/stats.svg');
        }
        .library:before {
            mask-image: url('../assets/library.svg');
        }
        .settings:before {
            mask-image: url('../assets/settings.svg');
        }
    }

}
