<header>
    <h2>
        {{pageTitle}}
        <a routerLink="notification-center">
            <ng-container *ngIf="haveUnread === false">
                <img
                    class="notification-bell"
                    src="../../assets/icon/notifications_black_24dp.svg"
                    alt="Notification Center"
                />
            </ng-container>
            <ng-container *ngIf="haveUnread === true">
                <img
                    class="notification-bell"
                    src="../../assets/icon/notifications_active_black_24dp.svg"
                    alt="Notification Center"
                />
            </ng-container>
        </a>
    </h2>
    <span *ngIf="updatingParticipant" class="loading">
        Updating participant
    </span>
</header>

<div id="home-content" class="content">
    <router-outlet></router-outlet>
</div>
<nav>
    <a
        *ngFor="let tab of tabs"
        class="{{tab.key}}"
        [routerLink]="[tab.key]"
        routerLinkActive="active"
    >
        {{tab.name}}
    </a>
</nav>
