.activity-type {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    > * {
        flex: 1 1 auto;
    }

    &:before,
    &:after {
        flex: 0 0 auto;
    }

    &:before {
        content: '';
        display: block;
        float: left;
        width: 2em;
        height: 2em;
        margin: 0em;
        margin-right: 0.5em;
        background-color: $text-color;
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
    }

    &:focus:before {
        background-color: $color-primary;
    }

    &.activity-type-swim:before {
        mask-image: url('../assets/swim.svg');
    }

    &.activity-type-run:before {
        mask-image: url('../assets/walk.svg');
    }

    &.activity-type-walk:before {
        mask-image: url('../assets/walk.svg');
    }

    &.activity-type-weights:before {
        mask-image: url('../assets/weights.svg');
    }

    &.activity-type-bike:before {
        mask-image: url('../assets/bike.svg');
    }
}

button.activity-type {
    @extend .heartsteps-minor-button;
    @extend .activity-type;
    // display: flex !important;
    // color: $text-color !important;

    &:focus {
        color: $color-primary !important;
    }
}
