<fieldset class="intensity input-group">
    <legend>{{label}}</legend>
    <ul>
        <li>
            <input id="activity-intensity-vigorous"
                type="checkbox"
                name="vigorous"
                [ngModel]="isVigorous"
                (ngModelChange)="updateVigorous($event)"
                [value]="true"
                [disabled]="isDisabled"
                />
            <label for="activity-intensity-vigorous">
                Vigorous
            </label>
        </li>
    </ul>
</fieldset>
