<fieldset class="heartsteps-form-field">
    <legend>{{label}}</legend>
    <p *ngIf="error && isInvalid"
        class="error"
        >
        {{error}}
    </p>
    <button *ngIf="activityType"
        (click)="reset()"
        [disabled]="isDisabled"
        class="activity-type activity-type-{{activityType.name}} remove"
        >
        {{activityType.title}}
    </button>
    <ul *ngIf="!activityType">
        <li *ngFor="let option of options">
            <button 
                (click)="updateValue(option.value)"
                [disabled]="isDisabled"
                class="activity-type activity-type-{{option.value}}"
                type="button"
                >
                {{option.name}}
            </button>
        </li>
    </ul>
    <button *ngIf="!activityType" 
        (click)="pickOtherActivityType()"
        [disabled]="isDisabled"
        class="bottom"
        type="button"
        >
        Other activity
    </button>
</fieldset>
