<fieldset>
    <legend>{{label}}</legend>
    <button *ngIf="activityType" (click)="reset()" class="activity-type activity-type-{{activityType.name}} remove">{{activityType.title}}</button>
    <ul *ngIf="!activityType">
        <li *ngFor="let activityType of activityTypeList">
            <button 
                (click)="select(activityType)"
                class="activity-type activity-type-{{activityType.name}}"
                type="button"
                >
                {{activityType.title}}
            </button>
        </li>
        <li><button *ngIf="!activityType" 
            (click)="pickOtherActivityType()"
            type="button"
            >
            Other activity
        </button></li>
    </ul>
</fieldset>
