<fieldset class="input-group">
    <legend *ngIf="label">{{label}}</legend>
    <p *ngIf="error && isInvalid"
        class="error"
        >
        {{error}}
    </p>
    <p *ngIf="!options">No options available</p>
    <ul *ngIf="!activityType">
        <li *ngFor="let option of options; let index = index">
            <input id="{{name}}-{{index}}"
                type="radio"
                [value]="option"
                [ngModel]="activityType"
                (ngModelChange)="updateValue(option.value)"
                [disabled]="isDisabled"
                />
            <label for="{{name}}-{{index}}">
                {{option.name}}
            </label>
        </li>
    </ul>
    <div *ngIf="activityType"
        class="selected-option"
        >
        <ul>
            <li>
                <input id="{{name}}-selected"
                    type="radio"
                    [value]="activityType"
                    [ngModel]="activityType"
                    [disabled]="isDisabled"
                    />
                <label for="{{name}}-selected">
                    {{activityType.title}}
                </label>
            </li>
        </ul>
        <button (click)="reset()">Remove</button>
    </div>
</fieldset>
    

