.activity-type {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    > * {
        flex: 1 1 auto;
    }

    &:before,
    &:after {
        flex: 0 0 auto;
    }

    &:before {
        content: '';
        display: block;
        float: left;
        width: 2em;
        height: 2em;
        background-color: $text-color;
        mask-image: url('../assets/activity-default.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
    }

    &:focus:before {
        background-color: $color-primary;
    }

    &.activity-type-aerobic:before {
        mask-image: url('../assets/activity-aerobic.svg');
    }

    &.activity-type-bike:before {
        mask-image: url('../assets/activity-bike.svg');
    }

    &.activity-type-elliptical:before {
        mask-image: url('../assets/activity-elliptical.svg');
    }

    &.activity-type-run:before {
        mask-image: url('../assets/activity-run.svg');
    }

    &.activity-type-swim:before {
        mask-image: url('../assets/activity-swim.svg');
    }

    &.activity-type-sport:before {
        mask-image: url('../assets/activity-sport.svg');
    }

    &.activity-type-walk:before {
        mask-image: url('../assets/activity-walk.svg');
    }

    &.activity-type-weights:before {
        mask-image: url('../assets/activity-weights.svg');
    }
}

button.activity-type {
    @extend .heartsteps-minor-button;
    @extend .activity-type;

    &:focus {
        color: $color-primary;
    }
}

.activity-type {
    &.heartsteps-checkmark-button {
        @extend .activity-type;
        border-width: 0px;
        border-radius: 0px;

        &:before {
            background-color: $link-color;
        }

        &.activity-type-aerobic:before {
            mask-image: url('../assets/activity-aerobic.svg');
        }
    
        &.activity-type-bike:before {
            mask-image: url('../assets/activity-bike.svg');
        }
    
        &.activity-type-elliptical:before {
            mask-image: url('../assets/activity-elliptical.svg');
        }
    
        &.activity-type-run:before {
            mask-image: url('../assets/activity-run.svg');
        }
    
        &.activity-type-swim:before {
            mask-image: url('../assets/activity-swim.svg');
        }
    
        &.activity-type-sport:before {
            mask-image: url('../assets/activity-sport.svg');
        }
    
        &.activity-type-walk:before {
            mask-image: url('../assets/activity-walk.svg');
        }
    
        &.activity-type-weights:before {
            mask-image: url('../assets/activity-weights.svg');
        }
    
    }

    &.heartsteps-checkmark-button-selected {
        @extend .activity-type;
        background-color: transparent;

        &:before {
            background-color: $selected-color;
        }

        &.activity-type-aerobic:before {
            mask-image: url('../assets/activity-aerobic.svg');
        }
    
        &.activity-type-bike:before {
            mask-image: url('../assets/activity-bike.svg');
        }
    
        &.activity-type-elliptical:before {
            mask-image: url('../assets/activity-elliptical.svg');
        }
    
        &.activity-type-run:before {
            mask-image: url('../assets/activity-run.svg');
        }
    
        &.activity-type-swim:before {
            mask-image: url('../assets/activity-swim.svg');
        }
    
        &.activity-type-sport:before {
            mask-image: url('../assets/activity-sport.svg');
        }
    
        &.activity-type-walk:before {
            mask-image: url('../assets/activity-walk.svg');
        }
    
        &.activity-type-weights:before {
            mask-image: url('../assets/activity-weights.svg');
        }
    }
}
