<app-form 
    [formGroup]="planForm"
    [defaultSubmit]="false"
    [error]="error"
    (onSubmit)="save()"
    >
    <heartsteps-activity-type-field
        formControlName="activity"
        label="Activity type"
        >
    </heartsteps-activity-type-field>
    <heartsteps-activity-intensity-field
        formControlName="vigorous"
        label="Intensity"
        >
    </heartsteps-activity-intensity-field>
    <app-duration-field 
        formControlName="duration"
        label="Duration"
        >
    </app-duration-field>
    <app-date-field
        formControlName="date"
        label="Date"
        >
    </app-date-field>
    <app-time-field
        formControlName="time"
        label="Time"
        >
    </app-time-field>
    <div app-form-controls>
        <button *ngIf="!updateView" (click)="save()" >Save</button>
        <button *ngIf="!activityPlan.complete && updateView" (click)="complete()" class="primary">Complete</button>
        <button *ngIf="activityPlan.complete && updateView" (click)="uncomplete()">Mark incomplete</button>
        <button *ngIf="updateView && !activityPlan.complete" (click)="save()" >Update</button>
        <button *ngIf="updateView && !activityPlan.complete" (click)="delete()" class="danger">Delete</button>
    </div>
</app-form>
