.activity-type {
    display:block;
    position: relative;
    
    &:before {
        content: '';
        display: block;
        float: left;
        width: 1em;
        height: 1em;
        margin: 0px 0.5em;
        background-color: $text-color;
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
    }

    &.activity-type-swim:before {
        mask-image: url('../assets/swim.svg');
    }

    &.activity-type-run:before {
        mask-image: url('../assets/walk.svg');
    }

    &.activity-type-walk:before {
        mask-image: url('../assets/walk.svg');
    }

    &.activity-type-weights:before {
        mask-image: url('../assets/weights.svg');
    }

    &.activity-type-bike:before {
        mask-image: url('../assets/bike.svg');
    }
}