<h3>{{formattedDate}}</h3>
<div class="callout-progress" *ngIf="activitySummary">{{activitySummary.totalMinutes}} minutes</div>
<ul class="horizontal" *ngIf="activitySummary">
    <li>{{activitySummary.moderateMinutes}} min <span>Moderate</span></li>
    <li>{{activitySummary.vigorousMinutes}} min <span>Vigerous</span></li>
    <li>{{activitySummary.totalSteps}} <span>Steps</span></li>
    <li>{{activitySummary.totalMiles}} <span>Miles</span></li>
</ul>
<p *ngIf="!activitySummary">No data</p>
