heartsteps-activity-daily-update {

    button:before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        mask-image: url('../assets/refresh.svg');
        mask-repeat: no-repeat;
        background-color: $link-color;
    }
    
}