heartsteps-activity-daily-update {
    display: flex;
    flex-direction: row;

    button {
        @extend button.bottom;
    }

    button.is-loading {
        opacity: 0.7;
    }

    button:before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        mask-image: url('../assets/refresh.svg');
        mask-repeat: no-repeat;
        background-color: $link-color;
    }
}