heartsteps-activity-daily-update {

    > button {
        @extend .heartsteps-bottom-button;
        padding-bottom: 0.25em;
    }

    > button.is-loading {
        padding-bottom: 1.5em;
    }

    > p {
        margin: 0em;
        text-align: center;
    }
    
}