<form>
    <fieldset>
        <legend>Where do you live and work?</legend>
        <p>Heartsteps will use these places to customize suggestions for physical activity nearby.</p>
        <ul>
            <li *ngFor="let location of locations">
                <button (click)="editLocation(location)" (ngClass)="{invalid:location.invalid}">
                    <em>{{location.type}}</em>
                    {{location.address}}
                </button>    
            </li>
        </ul>
        <button class="bottom" (click)="newLocation()">Add Place</button>
    </fieldset>
    <div class="controls">
        <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
        <button class="primary" (click)="saveLocations()">Save</button>
    </div>
</form>