
heartsteps-places-list {

    .place:before {
        content:'';
        display: block;
        width: 1em;
        height: 1em;

        margin-right: 1em;

        background-color: $link-color;

        -webkit-mask-box-image: url('../assets/pin.svg');
        mask-repeat: no-repeat;
    }

    .place.home:before {
        -webkit-mask-box-image: url('../assets/home.svg');
    }
    .place.work:before {
        -webkit-mask-box-image: url('../assets/work.svg');
    }

}

place-edit,
place-edit.ion-page {
    display: flex;
}

place-edit #map{
    display: none;
    height: 200px;
    width: 100%;
    
    &.show-map{
        display: block;
    }
}

