<app-page
    [title]="pageTitle"
    dismiss="Cancel"
    (onDismiss)="dismiss()"
    >
    <app-form class="map"
        [formGroup]="form"
        (onSubmit)="update()"
        >
        <p *ngIf="error" class="error">{{error}}</p>
        <fieldset>
            <legend>Enter an address</legend>
            <div class="heartsteps-form-field">
                    <label for="place-address">Address</label>
                    <input type="text"
                        id="place-address"
                        name="address"
                        formControlName="address"
                        /> 
                </div>
                <ul *ngIf="addressPredictions">
                    <li *ngFor="let address of addressPredictions">
                        <button (click)="setAddress(address.description)"
                            class="place"
                            >
                            {{address.description}}
                        </button>
                    </li> 
                </ul>
        </fieldset>
        <div #map
            id="map"
            [ngClass]="{'show-map': showMap}"
            width="100%"
            height="200px"
            >
        </div>
    </app-form>
    <button *ngIf="updateView" class="danger" (click)="delete()">Delete</button>
</app-page>
