<article class="page">
    <header>
        <h2>Edit Location</h2>
        <a class="back" (click)="dismiss()">Cancel</a>
    </header>
    <form class="map">
        <p>Enter an address or tap on the map to choose a location.</p>
        <ion-item>
            <ion-label stacked>Address</ion-label>
            <ion-input name="address" [(ngModel)]="address" (keyup)="showPredictions()"></ion-input>
        </ion-item>
        <ion-list *ngIf="addressPredictions">
            <button *ngFor="let address of addressPredictions" ion-item (click)="setAddress(address.description)">
                {{address.description}}
            </button> 
        </ion-list>
        <div #map id="map" width="100%" height="200px"></div>
        <div class="controls">
            <button *ngIf="!updateView" class="primary" (click)="update()" >Save</button>
            <button *ngIf="updateView" (click)="update()" >Update</button>
            <button *ngIf="updateView" class="danger" (click)="delete()">Delete</button>
        </div>
    </form>
</article>