<app-page
    title="HeartSteps"
    >
        <button app-page-control
            class="settings"
            (click)="goToSettings()"
            >Settings
        </button>
    <section>
        <p>
            We need to establish a baseline measurement of your daily activity,
            which will allow us to measure the effectiveness of the HeartSteps
            app.
        </p>
        <p>
            <strong>Wear your Fitbit for 8 hours a day, for 7 days.</strong>
            After 7 days, HeartSteps will start sending you notifications to
            help you be more active.
        </p>
    </section>
    <section>
        <p>You have worn your Fitbit for {{numberDaysWorn}} days.</p>
        <ul class="bubbles">
            <li *ngFor="let day of days"
                [ngClass]="{'wore': day.woreFitbit, 'today': day.isToday}"
                >
                {{format_short_date(day.date)}}
            </li>
        </ul>
    </section>
    <section *ngIf="summary">
        <h3><span>Today,</span> {{format_date(summary.date)}}</h3>
        <heartsteps-daily-summary [summary]="summary"></heartsteps-daily-summary>
        <button (click)="reload()">Reload data</button>
        <p >Last updated {{format_time_ago(summary.updated)}}</p>
    </section>
    <section>
        <h3>Need Help?</h3>
        <p>If you have any issues with the HeartSteps app, or your Fitbit, please call {{studyContactName}} at {{studyContactPhone}}.</p>
    </section>
</app-page>