<form>
    <div>
        <label>How do you feel about being active today?</label>
        <heartsteps-range></heartsteps-range>
    </div>
    <div>
        <label>How busy are you today?</label>
        <heartsteps-range></heartsteps-range>
    </div>
    <div>
        <label>How much wood would a woodchuck chuck, if a woodchuck could chuck wood?</label>
        <heartsteps-range></heartsteps-range>
    </div>
    <div class="controls">
        <button (click)="done()">Done</button>
    </div>
</form>