.background {
  viewport-fill: fb-blue;
}

text {
  font-size: 24;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  color: white;
  text-anchor: middle;
}

text.title {
  font-size: 32;
}

text.bold {
  font-family: System-Bold;
}