#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.clock-text {
  font-family: Seville-Book;
  font-size: 88;
  text-anchor: middle;
  text-length: 10;
  x: 50%;
  y: 41%;
  width: 92%;
  height: 25%;
  fill: #2490DD;
}

.date-text {
  font-family: Seville-Regular;
  font-size: 22;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 64%;
  width: 92%;
  height: 8%;
  fill: #FFFFFF;
}

.divider {
  x: 4%;
  width: 92%;
  height: 1;
  fill: white;
}

.divider-top {
  y: 52%;
}

.divider-btm {
  y: 70%;
}

.stats {
  x: 50%-111;
  y: 50%+72;
  width: 222;
  height: 48;
}

.stats text {
  font-family: Seville-Regular;
  font-size: 22;
  text-length: 16;
  fill: #2490DD;
}

#iconHRM {
  width: 24;
  height: 24;
  y: 15;
  x: 1;
  fill: white;
}

.stat-left {
  x: 31;
}

.stat-right {
  x: 100%;
  width: 100%;
  text-anchor: end;
}

#stats-cycle {
  x: 40%;
  y: 0;
  width: 60%;
  height: 100%;
}

.cycle-item image {
  x: 50%;
  y: 15;
  fill: #FFFFFF;
  width: 24;
  height: 24;
}
