
.title {
    text-transform: uppercase;
}

.label {
    display:block;
    color: gray;  
}

h3 {
    text-align: center;
}

.heartsteps-primary-button {
    display: block;
    color: map-get($colors, primary);
    border: 1px map-get($colors, primary) solid;
    background: transparent;
    padding: 1em;
    text-align: center;
    display: block;
    width: 100%;
}

.error {
    color: map-get($colors, danger);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.scroll-content {
    display: flex;
    flex-direction: column;

    > form {
        flex-grow: 1;
    }
}

.callout-progress {
    display: block;
    text-align: center;
    color: map-get($colors, secondary);
    font-weight: bold;
}

ul.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul.horizontal li {
    display: block;
    padding: $space-size/2;
    & > span {
        @extend .label;
    }
}