.heartsteps-form {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;

    > * {
        display: block;
        flex: 0 0 auto;
        margin: 0em;
        margin-bottom: 1em;
    }

    > *:last-child {
        margin-bottom: 0em;
    }

    .form,
    form,
    fieldset {
        margin: 0em;
        padding: 0em;
    }

    > .controls {
        flex-grow: 1;

        > * {
            margin: 0.25em 0px;
        }

    }

    fieldset {
        border: 0px;
    }

    legend {
        font-weight: bold;
        padding-top: $space-size;
        margin: 0.5em 0em;
    }

    label {
        @extend .label;
    }

    input {
        border-radius: 0em;
    }

    input[type=submit] {
        @extend .heartsteps-button;
    }
}

.heartsteps-form fieldset.input-group {

    > * {
        margin: 0.25em 0em;
    }

    & > legend {
        color: $color-gray;
        font-weight: normal;
        padding: 0px;
        margin: 0em;
    }

    & > ul {
        padding: 0em;
        margin: 1em 0em;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    li > label {
        color: $text-color;
        padding: 0em 1em;
    }

    li > button {
        text-align: left;
    }
}

.heartsteps-form {
    input[type=checkbox],
    input[type=radio] {
        display: block;
        width: 2em;
        height: 2em;
        background: $color-gray;
        appearance: none;
        mask: url('../assets/unchecked.svg') no-repeat 50% 50%;
    }
    
    input[type=checkbox]:checked,
    input[type=radio]:checked {
        background: $color-primary;
        mask-image: url('../assets/checked.svg');
    }
}
