.heartsteps-form {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;

    > * {
        display: block;
        flex: 0 0 auto;
        margin: 0em;
        margin-bottom: 1em;
    }

    > *:last-child {
        margin-bottom: 0em;
    }

    .form,
    form,
    fieldset {
        margin: 0em;
        padding: 0em;
    }

    > .controls {
        flex-grow: 1;

        > * {
            margin: 0.25em 0px;
        }
    }

    > .controls {
        margin: 0em 0em;
        > * {
            margin: 0.5em 0em;
        }
        [app-form-controls] {
            margin: 0px;
            > * {
                margin:0.5em 0em;
            }
        }
    }

    fieldset {
        border: 0px;
    }

    legend {
        font-weight: bold;
        padding: 0em;
        margin: 0.5em 0em;
    }

    label {
        @extend .label;
    }

    input {
        border-radius: 0em;
    }

    input[type=submit] {
        @extend .heartsteps-button;
    }
}

.heartsteps-form-field {
    display: block;
    margin: 0em;
    margin-bottom: 1em;
    border-bottom: $color-gray-light 1px solid;

    > * {
        flex: 0 0 auto;
    }

    input {
        &:disabled {
            background-color: transparent;
        }

        &[type=number] {
            text-align: right;
        }
    }

    > input {
        display: block;
        width: 100%;
        border: 0px;
        padding: 0.5em 0em;
    }

    > .errors {
        display: none;
        color: $color-danger;

        > * {
            margin: 0.5em 0em 0em;
        }
    }

    > ul {
        margin: 0em;
        padding: 0em;
    }

    > button {
        @extend .heartsteps-minor-button;
        text-align: left;
        justify-content: flex-start;
        color: $text-color;

        &:hover,
        &:focus {
            color: $link-color;
        }
    }
}

.heartsteps-form-field.is-invalid {

    border-bottom-color: $color-danger;

    > .errors {
        display: block;
    }

    label, legend {
        color: $color-danger;
    }
}

.heartsteps-form-field.is-focused,
.heartsteps-form-field.is-focused.is-invalid {
    border-bottom-color: $color-primary;

    label, legend {
        color: $color-primary;
    }
}

.heartsteps-form-field.is-disabled,
.heartsteps-form-field.is-focused.is-invalid.is-disabled,
.heartsteps-form-field.is-focused.is-disabled {
    border-bottom-width: 0px;
}

fieldset.heartsteps-form-field {
    legend {
        @extend label;
        font-weight: normal;
        padding: 0em;
    }
}


.heartsteps-form fieldset.input-group {

    > * {
        margin: 0.25em 0em;
    }

    & > legend {
        @extend .label;
        font-weight: normal;
        padding: 0px;
        margin: 0em;
    }

    & > legend.description {
        @extend .description;
    }

    & > ul {
        padding: 0em;
        margin: 1em 0em;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    li > label {
        @extend .description;
        padding: 0em 1em;
    }

    li > button {
        text-align: left;
        margin: 0px;
        padding: 0em;
    }


    .selected-option {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        > *  {
            flex-grow: 0;
        }
    }

    .selected-option > ul {
        flex-grow: 1;
    }

    .selected-option > button {
        @extend .heartsteps-remove-button;
        border: 0px;
        width: 1em;
        overflow: hidden;
        text-indent: -20000px;
    }

}

.heartsteps-form {
    input[type=checkbox],
    input[type=radio] {
        @extend .heartsteps-checkmark-button;
        appearance: none;
    }
    
    input[type=checkbox]:checked,
    input[type=radio]:checked {
        @extend .heartsteps-checkmark-button-selected;
    }
}

.heartsteps-form .select-button {
    &:before {
        content: "";
        display: block;
        width: 2em;
        height: 1em;
        background-color: $link-color;
        mask-image: url('../assets/arrow-down.svg');
        mask-repeat: no-repeat;
    }
}
