
.app-root {
    display: flex;
    flex-direction: column;
    & > * {
        flex-grow: 1;
        padding: 10px;
    }
    > router-outlet {
        display: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
}