
.heartsteps-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    > * {
        flex: 0 0 auto;
    }

    > .content {
        flex-grow: 1;
    }
}

.app-root,
.app-root > ng-component {
    @extend .heartsteps-container;

    > * {
        flex-grow: 1;
    }
}

router-outlet {
    display: none;
}

article.page,
.page {
    padding-bottom: env(safe-area-inset-bottom);
    height: 100%
}

.page > header {
    padding-top: env(safe-area-inset-top);
}

.page {
    display:flex;
    flex-direction: column;
    flex-grow: 1;

    > * {
        flex: 1 1 auto;
        overflow: auto;
    }
}

header,
footer,
.page > header,
.page > nav,
.page > footer {
    @extend .heartsteps-controls;
}

.heartsteps-controls {
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    > * {
        flex: 0 1 auto;
        margin: 0.5em;
    }

    > .title,
    > h2 {
        flex-grow: 1;
    }

    .back {
        order: -1;
    }

    button {
        @extend .heartsteps-minor-button;
        width: auto;
    }
}
