

.heartsteps-logo {
    display: block;
    position: relative;
    text-indent: -3000px;
    width: 300px;
    height: 55px;
    overflow: hidden;
    margin: 2em auto;
    &:after {
        content: ' ';
        mask: url('../assets/heartsteps-logo.svg') no-repeat 0px 0px;
        mask-size: contain;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}