.heartsteps-page {
    font-size: 1.6rem;
    background-color: transparent;
    padding: 0px;
    margin: 0px;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
    }

    &:before {
        height: env(safe-area-inset-top);
        // height: 2em;
    }

    &:after {
        height: env(safe-area-inset-bottom);
        // height: 2em;
    }

    > *,
    &:before,
    &:after {
        background-color: $background-alternate;
    }

    > header {
        border-bottom: $color-gray 1px solid;
    }

    > nav,
    > footer {
        border-top: $color-gray 1px solid;
    }

    > .content {
        background-color: $background-primary;
        padding: 1em;
    }

    &:after {
        background-color: $background-primary;
    }
}

@media(min-width: 650px) {
    .heartsteps-page {
        padding: 2em 0em;
    }

    .heartsteps-page > *,
    .heartsteps-page:before,
    .heartsteps-page:after {
        width: 635px;
        margin: 0px auto;
    }
}

.heartsteps-page {
    .title,
    h2, h3, h4, h5, h6 {
        text-transform: none;
    }
}

.heartsteps-page {
    @extend .heartsteps-scroll-container;
    // @extend .heartsteps-fullscreen-container;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    > * {
        flex: 0 1 auto;
        overflow: auto;
    }
}

@media(min-width: 650px) {
    .heartsteps-page {
        height: auto;
    }

    .heartsteps-page > .content {
        overflow-y: visible !important;
    }
}


.heartsteps-controls {
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    > * {
        flex: 0 1 auto;
        margin: 0.5em;
    }

    button {
        @extend .heartsteps-minor-button;
        width: auto;
    }
}

header,
footer,
.heartsteps-page > header,
.heartsteps-page > nav,
.heartsteps-page > footer {
    @extend .heartsteps-controls;
}

.heartsteps-page-header {
    display: block;
    position: relative;

    h1, h2, h3, h4, h5 {
        font-size: 1.25em;
        font-weight: normal;
        text-align: center;
    }

    .back,
    [app-page-control] {
        position: absolute;
        bottom: 0%;
        width: auto;
        margin: 0px;
        padding: 0.5em $space-size;
        line-height: 1.25em;
    }
    
    .back {
        left: 0px;
    }

    [app-page-control] {
        right: 0px;
    }

}

.heartsteps-page > header {
    @extend .heartsteps-page-header;
}
