.start-screen,
.alternate-background,
.heartsteps-message-modal {
    background: linear-gradient(to top, #1a508d 7%,#40a2e0 93%);
    color: #FFF;

    text-align: center;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .large {
        font-size: 1.75em;
    }

    h1 {
        font-weight: normal;
        text-transform: uppercase;
    }

    button {
        border: 1px #fff solid;
        text-align: center;
        color: #fff;
        background-color: transparent;
        font-size: 1.2em;
        padding: 0.75em;
        display: block;
        width: 100%;
    }
}