.start-screen,
.start-screen.ion-page,
.alternate-background,
.heartsteps-message-modal {
    @extend .page;

    background: linear-gradient(to top, #1a508d 7%,#40a2e0 93%);
    color: $color-white;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;

    .headline {
        margin: 0.5em auto;
        color: $color-white;
        font-size: 1.5em;
        font-weight: normal;
    }

    h1 {
        font-weight: normal;
        text-transform: uppercase;
    }

    header {
        background-color: transparent;
        border-width: 0px;
    }

    button {
        border: 1px #fff solid;
        text-align: center;
        color: #fff;
        background-color: transparent;
        font-size: 1.2em;
        padding: 0.75em;
        display: block;
        width: 100%;
    }

    .controls {
        flex-grow: 1;
    }
}

.start-screen form {
    label {
        color: $color-white;
    }
}

@media (min-width: 600px) {

    .start-screen > * {
        width: 540px;
        margin: 1em auto;
    }

}
