.start-screen,
.alternate-background,
.heartsteps-message-modal {
    @extend .page;

    background: linear-gradient(to top, #1a508d 7%,#40a2e0 93%);
    color: $color-white;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;

    > * {
        display: block;
        margin: 2em 1em;
        flex-grow: 1;
    }

    > button {
        flex-grow: 0;
    }

    .headline {
        color: $color-white;
        font-size: 1.5em;
        font-weight: normal;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-weight: normal;
        text-transform: uppercase;
    }

    header {
        background-color: transparent;
        border-width: 0px;
    }

    button,
    input[type=submit],
    button[type=button] {
        border-color: $color-white;
        color: $color-white;
        background-color: transparent;
        width: auto;
    }

    a {
        color: $color-white;
    }

    article {
        background-color: transparent;
    }
}

.start-screen form {
    label, legend, button {
        color: $color-white;
    }

    button {
        border-width: 0px;
    }

    app-range-field.heartsteps-form-field ul li input[type=radio] {
        background-color: $color-white;
    }

    ul > li >button {
        color: $color-white;
    }
}

.start-screen heartsteps-stepper {
    background-color: transparent;

    .pagination-bullets > * {
        background-color: transparent;
        border: $color-white 1px solid;

        &.active {
            background-color: $color-white;
        }
    }
}

@media (min-width: 600px) {

    .start-screen > * {
        width: 540px;
        margin: 4em auto;
    }

}
