<article class="page">
    <header>
        <h2>Stats</h2>
        <a class="back" (click)="back()">Back</a>
    </header>
    <div>
        <h3>Activities Tracked</h3>
        <heartsteps-daily-summary [summary]="dailySummary"></heartsteps-daily-summary>
        <nav>
            <ul>
                <li *ngFor="let log of logs">
                    <a (click)="openActivityLog(log)">
                        <heartsteps-activity-log [activityLog]="log"></heartsteps-activity-log>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</article>