<app-form *ngIf="form"
    [formGroup]="form"
    (onSubmit)="submit()"
    >
    <heartsteps-activity-type-field
        formControlName="activity"
        label="Activity type"
        >
    </heartsteps-activity-type-field>
    <heartsteps-activity-intensity-field
        formControlName="vigorous"
        label="Intensity"
        >
    </heartsteps-activity-intensity-field>
    <app-increment-field 
        formControlName="duration"
        label="Duration"
        unit="min"
        >
    </app-increment-field>
    <app-date-field
        formControlName="date"
        label="Date"
        [available-dates]="availableDates"
        >
    </app-date-field>
    <app-time-field
        formControlName="time"
        label="Time"
        >
    </app-time-field>
    <activity-enjoyed-field
        formControlName="enjoyed"
        label="Did you enjoy this?"
        >
    </activity-enjoyed-field>
    <app-range-field
        formControlName="effort"
        label="How much will power did it take to complete this activity?"
        [options]="effortOptions"
        >
    </app-range-field>
</app-form>