<article>
    <header>
        <h3>
            <span *ngIf="isToday" class="highlight">Today, </span>
            {{formattedDate}}
        </h3>
        <button
            (click)="addActivityLog()"
            class="add"
            >
            Add activity log
        </button>
    </header>
    <ul *ngIf="activities">
        <li *ngFor="let activityLog of activities">
            <heartsteps-activity-log
                [activityLog]="activityLog"
                (click)="openActivityLog(activityLog)"
                >
            </heartsteps-activity-log>
        </li>
    </ul>
    <p *ngIf="!activities">No recorded activities</p>
</article>
