<ion-header>
        <ion-navbar>
            <ion-title>{{date}}</ion-title>
            <a (click)="dismiss()">Cancel</a>
        </ion-navbar>
    </ion-header>
    <ion-content *ngIf="planForm" padding>
        <form [formGroup]="planForm">
            <ion-list radio-group formControlName="activity">
                <ion-list-header>Activity</ion-list-header>
                <ion-item>
                    <ion-label>Bike</ion-label>
                    <ion-radio value="bike"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Run</ion-label>
                    <ion-radio value="run"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Swim</ion-label>
                    <ion-radio value="swim"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Lift weights</ion-label>
                    <ion-radio value="weights"></ion-radio>
                </ion-item>
            </ion-list>
            <ion-list radio-group formControlName="vigorous">
                <ion-list-header>Intensity</ion-list-header>
                <ion-item>
                    <ion-label>Moderate</ion-label>
                    <ion-radio value="false"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Vigorous</ion-label>
                    <ion-radio value="true"></ion-radio>
                </ion-item>
            </ion-list>
            <ion-item>
                <ion-label>Duration</ion-label>
                <ion-input formControlName="duration" type="number">
                    <ion-option *ngFor="let duration of durationChoices" value="duration">{{duration}}</ion-option>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Start time</ion-label>
                <ion-datetime formControlName="time" displayFormat="h:mm a" minuteValues="0,15,30,45"></ion-datetime>
            </ion-item>

            <div class="form-actions">
                <p *ngIf="error">{{error}}</p>
                <button *ngIf="updateView" ion-button color="danger" (click)="delete()">Delete</button>
                <button *ngIf="updateView" ion-button outline (click)="save()" >Update</button>
                <button *ngIf="updateView" ion-button (click)="complete()">Complete</button>
                <button *ngIf="!updateView" ion-button (click)="save()" >Save</button>
            </div>
        </form>
    </ion-content>